*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d6d7d8 ;
}

.profilecard{
    background-color:transparent;
    width: 350px;
    height: 675px;
    border-radius: 10px;
    margin: auto;
    perspective: 1000px;
    
}

.profileinner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.profilecard:hover  .profileinner {
    transform: rotateY(180deg);
}

.profilefront, .profileback {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.profilefront {
    background-color: #AD2831;
    width: 350px;
    height: 657px;
    border-radius: 10px;
    margin: auto;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;

}

.profileback {
    background-color: #640D14;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
}




.box1{
    background-color: #800E13;
    width: 350px;
    height: 340px;
    border-radius: 10px;
    margin: auto;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    margin-top:1px;
}

.box2{
    background-color: #640D14;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin: auto;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    margin-top: -2px;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    color: #D9D9D9;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-top: 9px;
    text-align: center;
    color: #D9D9D9;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
    padding: 7px;
    padding-bottom: 290px;
    text-align: center;
    color: #D9D9D9;
    
}

.reach{
    background-color: #640D14;
    width: 100px;
    height: 40px;
    /* border-radius: 10px; */
    margin: auto;

    display: flex;
    flex-direction: column;
    margin-top: -240px;


}

h4{
    font-family: Arial, Helvetica, sans-serif;

    
    text-align: center;
    color: #D9D9D9;
    font-size: large;
    margin-top: 9px;
    
}

h5{
    font-family: Arial, Helvetica, sans-serif;

    
    text-align: center;
    color: #D9D9D9;
    font-size: x-large;
    margin-top: 30px;
}

/* #facebook{
    width: 50px;
    height: 50px;
    margin-right: 70%;
    
} */

/* #tiktok{
    width: 50px;
    height: 50px;
    margin-right: 70%;
    
}

#twitter{
    width: 50px;
    height: 50px;
    margin-right: 70%;
}

#email{
    width: 46px;
    height: 48px;
    margin-right: 70%;
} */

h6{
    text-align: center;
    color: #D9D9D9;
    font-size: large;
    
}

.fb{
   
    margin-top: 20px;
    width: 90%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    vertical-align: middle;

}

.fb::before{
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;

    background-image: url(https://www.cloudcodepro.com/NYCFAB25/user24/workspace/Profile_Card/png-clipart-facebook-logo-social-media-facebook-computer-icons-linkedin-logo-facebook-icon-media-internet-thumbnail-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.tt{
    margin-top: 20px;
    width: 89%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    vertical-align: middle;
}

.tt::before{
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;

    background-image: url(https://img.icons8.com/?size=48&id=118640&format=png);
    background-size: contain;
    background-repeat: no-repeat;
}

.x{
    margin-top: 20px;
    width: 89%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    vertical-align: middle;
}

.x::before{
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;

    background-image: url(https://img.icons8.com/?size=50&id=phOKFKYpe00C&format=png);
    background-size: contain;
    background-repeat: no-repeat;
}

.email{
    margin-top: 20px;
    width: 89%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    vertical-align: middle;
}

.email::before{
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;

    background-image: url(https://img.icons8.com/?size=50&id=12623&format=png);
    background-size: contain;
    background-repeat: no-repeat;
}

.photo{
    margin-top: 25%;
}

